<!doctype html>

<style>
  body { text-align: center; }
  #nav a { padding: 0 2em; }
  a, a:visited, a:hover { text-decoration: none; color: #57a; }
  #nav img { vertical-align: middle; }
</style>

<title>Coinballer</title>

<p id="nav"><a href="https://decision.casino/"><img src="/yin-yang.png" width="32px"/></a> <a href="/">Current Games</a> <a href="/games">Past games</a> <a href="/rules">Rules</a> <a href="/new_game">New Game</a> <a href="/about">About</a></p>

<h1><img src="/coinballer.png" width="512px"/></h1>

<h2>About</h2>

<p>The source code for this host is <a href="https://github.com/jackmurray90/coinballer">open source</a> and we are hosted by Google Cloud.</p>

<p>This host is operated by <a href="https://murray.software/">Jack Murray</a>.</p>

<p>There is a <a href="https://bitcointalk.org/index.php?topic=5432506">thread</a> about the game on bitcointalk.org.</p>
