<!doctype html>

<style>
  body { text-align: center; }
  #nav a { padding: 0 2em; }
  #nav img { vertical-align: middle; }
</style>

<title>Coinballer</title>

<p id="nav"><a href="https://decision.casino/"><img src="/yin-yang.png" width="32px"/></a> <a href="/">Games</a> <a href="/rules">Rules</a> <a href="/use_cases">Use Cases</a> <a href="/new_game">New Game</a></p>

<h1>
  <img src="/scales.png" width="100px"/>
  About Coinballer
</h1>

<p>The source code for this host is <a href="https://github.com/jackmurray90/coinballer">open source</a> and we are hosted by Google Cloud.</p>

<p>This host is operated by <a href="https://murray.software/">Jack Murray</a>, a software engineer who lives in Melbourne, Australia.</p>

<p>This game was invented by Julian Roetzer, a penetration tester, business person and security researcher who lives in Canberra, Austraila.</p>
