<!doctype html>
<style>
  body { text-align: center; }
  table { border-collapse: collapse; margin: 1em auto; }
  th, td { border: 1px solid #ccc; padding: 0.5em; }
  ul, li { margin: 0; }
  #nav a { padding: 0 2em; }
  #nav img { vertical-align: middle; }
</style>

<title>Coinballer</title>

<p id="nav"><a href="https://decision.casino/"><img src="/yin-yang.png" width="32px"/></a> <a href="/">Games</a> <a href="/rules">Rules</a> <a href="/new_game">New Game</a> <a href="/about">About</a></p>

<h1><img src="/coinballer.png" width="512px"/></h1>

<h2>Game {{ game_id }}</h2>

<p>Please allow 6 confirmations before your transaction will appear on the site.</p>

<table>
  <tr><th>Current confirmed block height</th><td>{{ confirmed_height }}.</td></tr>
  <tr><th>Deadline for this game</th><td>{% if deadline %}Block {{ deadline }}{% else %}Finished{% endif %}</td></tr>
  <tr><th>Length of time between last bet and deadline</th><td>{{ length }} blocks.</td></tr>
  <tr><th>Number of winners</th><td>{{ winners }}</td></tr>
  <tr><th>Currently each winner will receive</th><td>{{ '%0.8f'%payout }} BTC.</td></tr>
</table>

<h2>Players</h2>

<table>
  <tr><th>Betting address</th><th>Payout address</th><th>Total bet</th></tr>
  {% for player in players %}
  <tr>
    <td><a href="https://www.blockchain.com/explorer/addresses/btc/{{ player['betting_address'] }}">{{ player['betting_address'] }}</a></td>
    <td><a href="https://www.blockchain.com/explorer/addresses/btc/{{ player['payout_address'] }}">{{ player['payout_address'] }}</a></td>
    <td>{{ '%0.8f'|format(player['bet']) }} BTC</td>
  </tr>
  {% endfor %}
</table>
