<!doctype html>
<style>
  body { text-align: center; }
  table { border-collapse: collapse; margin: 1em auto; }
  th, td { border: 1px solid #ccc; padding: 0.5em; }
  ul, li { margin: 0; }
  #nav a { padding: 0 2em; }
</style>

<title>Coinballer</title>

<p id="nav"><a href="/">Games</a> <a href="/rules">Rules</a> <a href="/use_cases">Use Cases</a> <a href="/new_game">New Game</a> <a href="/about">About</a></p>

<h1>
  <img src="/scales.png" width="100px"/>
  Coinballer game {{ game_id }}
</h1>

<p>Deadline for this game is currently block {{ deadline }}.</p>

<h2>Players</h2>

<table>
  <tr><th>Betting address</th><th>Payout address</th><th>Total bet</th></tr>
  {% for player in players %}
  <tr><td>{{ player['betting_address'] }}</td><td>{{ player['payout_address'] }}</td><td>{{ '%0.8f'|format(player['bet']) }} BTC</td></tr>
  {% endfor %}
</table>
