<!doctype html>

<style>
  body { text-align: center; }
  table { border-collapse: collapse; margin: 1em auto; }
  th, td { border: 1px solid #ccc; padding: 0.5em; }
  ul, li { margin: 0; }
  a, a:visited, a:hover { text-decoration: none; color: rgb(32, 80, 162); }
  #nav a { padding: 0 2em; }
  #nav img { vertical-align: middle; }
</style>

<title>Coinballer</title>

<p id="nav"><a href="https://decision.casino/"><img src="/yin-yang.png" width="32px"/></a> <a href="/">Current Games</a> <a href="/games">Past games</a> <a href="/rules">Rules</a> <a href="/new_game">New Game</a> <a href="/about">About</a></p>

<h1><img src="/coinballer.png" width="512px"/></h1>

<table>
  <tr><th>Game</th><th>Total pot size</th><th>Deadline</th></tr>
  {% for game in games %}
  <tr>
    <td><a href="/game/{{ game['game_id'] }}">Game {{ game['game_id'] }}</a></td>
    <td>{{ game['pot']|format_decimal(8) }} BTC</td>
    {% if game['deadline'] %}
      <td>Block {{ game['deadline'] }}</td>
    {% else %}
      <td>Finished</td>
    {% endif %}
  </tr>
  {% endfor %}
</table>
