<!doctype html>
<style>
  body { text-align: center; }
  #nav a { padding: 0 2em; }
  #nav img { vertical-align: middle; }
</style>

<title>Fishballer</title>

<p id="nav"><a href="https://decision.casino/"><img src="/yin-yang.png" width="32px"/></a> <a href="/fishballer">Games</a> <a href="/fishballer/rules">Rules</a> <a href="/fishballer/use_cases">Use Cases</a> <a href="/fishballer/about">About</a></p>

<h1>
  <img src="/scales.png" width="100px"/>
  Create a new game
</h1>

<form action="/fishballer/new_game" method="post">
  <p>The length of time between the last bid and the end of the game is <input type="number" name="length" value="144"/> blocks.</p>
  <p>Anybody who has contributed at least as much as the <input type="number" name="winners" value="5"/>th highest bet wins an equal share of the pot.</p>
  <p>Please input the players' bitcoin addresses, one per line:</p>
  <textarea name="addresses" rows="10" cols="50"></textarea>
  <br/>
  <input type="submit" value="Create game"/>
</form>
