<!doctype html>
<style>
  body { text-align: center; }
  #nav a { padding: 0 2em; }
  #nav img { vertical-align: middle; }
</style>

<title>Coinballer</title>

<p id="nav"><a href="https://decision.casino/"><img src="/yin-yang.png" width="32px"/></a> <a href="/">Games</a> <a href="/rules">Rules</a> <a href="/about">About</a></p>

<h1>
  <img src="/scales.png" width="100px"/>
  Create a new game
</h1>

<form action="/new_game" method="post">
  <p>The length of time between the last bet/raise and the end of the game is <input size="6" name="length" value="144"/> blocks.</p>
  <p>Anybody who has contributed at least as much as the <input size="3" name="winners" value="1"/>th highest bet wins an equal share of the pot.</p>
  <p>Please input the players' bitcoin addresses, one per line:</p>
  <textarea name="addresses" rows="10" cols="50"></textarea>
  <br/>
  <input type="submit" value="Create game"/>
</form>
