<!doctype html>

<style>
  body { text-align: center; }
  #nav a { padding: 0 2em; }
  #nav img { vertical-align: middle; }
</style>

<title>Fishballer</title>

<p id="nav"><a href="https://decision.casino/"><img src="/yin-yang.png" width="32px"/></a> <a href="/">Games</a> <a href="/use_cases">Use Cases</a> <a href="/new_game">New Game</a> <a href="/about">About</a></p>

<h1>
  <img src="/scales.png" width="100px"/>
  Fishballer Rules
</h1>

<p>In this game, up to 100 players are gambling that they have more worth.</p>

<p>Players can make a bet or raise their bet at any time.</p>

<p>The game ends when a certain number of bitcoin blocks have passed without a raise that is equal to or exceeds the maximum bet. This <em>length</em> is configurable.</p>

<p>Anybody who has contributed at least as much as the <em>n</em>th highest bet wins an equal share of the pot. <em>n</em> is configurable.</p>

<p>A 2% fee is taken from the pot for the host.</p>
