<!doctype html>

<style>
  body { text-align: center; }
  #nav a { padding: 0 2em; }
  #nav img { vertical-align: middle; }
</style>

<title>Coinballer</title>

<p id="nav"><a href="https://decision.casino/"><img src="/yin-yang.png" width="32px"/></a> <a href="/">Games</a> <a href="/use_cases">Use Cases</a> <a href="/new_game">New Game</a> <a href="/about">About</a></p>

<h1>
  <img src="/scales.png" width="100px"/>
  Coinballer Rules
</h1>

<p>In this game, up to 100 players are gambling that they have more worth.</p>

<p>Players can make a bet or raise their bet at any time.</p>

<p>The game ends when 144 bitcoin blocks have passed without a raise. This will take appoximately one day.</p>

<p>The player who has contributed the most money to the pot at the end of the game wins the pot, minus a 2% fee for the host.</p>

<p>In the case of tie, funds are distributed equally and any fractional remainder is left with the host.</p>
