<!doctype html>

<style>
  body { text-align: center; }
  a, a:visited, a:hover { text-decoration: none; color: rgb(32, 80, 162); }
  #nav a { padding: 0 2em; }
  #nav img { vertical-align: middle; }
</style>

<title>Coinballer</title>

<p id="nav"><a href="https://decision.casino/"><img src="/yin-yang.png" width="32px"/></a> <a href="/">Current Games</a> <a href="/games">Past games</a> <a href="/rules">Rules</a> <a href="/new_game">New Game</a> <a href="/about">About</a></p>

<h1><img src="/coinballer.png" width="512px"/></h1>

<h2>Rules</h2>

<p>In this game, up to 100 players are gambling that they have more worth.</p>

<p>Players can make a bet or raise their bet at any time.</p>

<p>The game ends when a certain number of bitcoin blocks have passed without a raise that is equal to or exceeds the maximum bet. This <em>length</em> is configurable.</p>

<p>Anybody who has contributed at least as much as the <em>n</em>th highest bet wins an equal share of the pot. <em>n</em> is configurable.</p>

<p>A 2% fee is taken from the pot for the host.</p>

<p>To start a game, you must collect each player's payout address and input it into the <a href="/new_game">new game</a> form.</p>

<p>Bets that are received after the end of the game are automatically sent back to the player's payout address, minus a 0.0001 BTC transaction fee.</p>
