<!doctype html>
<style>
  body { text-align: center; }
  table { border-collapse: collapse; margin: 1em auto; }
  th, td { border: 1px solid #ccc; padding: 0.5em; }
  ul, li { margin: 0; }
  #nav a { padding: 0 2em; }
  #nav img { vertical-align: middle; }
</style>

<title>Coinballer</title>

<p id="nav"><a href="https://decision.casino/"><img src="/yin-yang.png" width="32px"/></a> <a href="/">Games</a> <a href="/rules">Rules</a> <a href="/new_game">New Game</a> <a href="/about">About</a></p>

<h1>
  <img src="/scales.png" width="100px"/>
  Coinballer Use Cases
</h1>

<p>This game is useful in situations where there are multiple parties and
participants want to allocate funds to only a single party. In this situation,
the fund-raising process double as an election process.<p>

<p>For instance, participants want to allocate funds to either Bitcoin Core or
Bitcoin Cash developers, but only to the project that has the most momentum.</p>

<p>In this instance, each party could create a coinballer game, and doners
could vote by sending money to the pot via the address for their preferred
party.</p>

<p>In another example, governments could hold an election using coinballer,
collecting taxes via the game rather than through traditional taxation
systems.</p>

<p>Of course, in both these examples, voting power of participants is weighted
proportional to the wealth of the participants.</p>
